/* Varialbles*/

:root {
  --color-primary: #004983;
  --color-white: #ffffff;
  --color-white-secondary: #fafafa;
  --color-red: #d24240;
  --color-purple: #443a8c;

  --color-grey-dark: #333;

  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

html {
  font-size: 62.5%; /* 1rem = 10px; 10px / 16px = 62.5%; */
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Buttons */

.icon-button {
  border: 3px solid var(--color-red);
  color: var(--color-red);
  padding: 0.15em 0.75em;
  box-shadow: none;
  border-radius: 2em;
  font-size: 3.75rem;
  margin: 0.5rem 0;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}

.hypercore-button {
  background-color: var(--color-red);
  color: #fff;
  padding: 0.75em 1.75em;
  box-shadow: none;
  border-radius: 2em;
  font-size: 2.4rem;
  margin: 0.5rem 0;
  font-weight: 700;
}

fa-icon {
  font-size: inherit;
  display: inline-block;
  line-height: 1em;
}

fa-icon svg {
  height: 1em;
  max-width: 100%;
  vertical-align: -0.125em;
}

fa-icon path {
  fill: currentColor;
}

/* Heading Styles */

.landing-heading {
  background-color: var(--color-white-secondary);
  box-shadow: var(--shadow);
  position: relative;
  z-index: 3;
}

.landing-heading__content {
  display: flex;
  justify-content: center;
  max-width: calc(1200px + 4rem);
  margin: 0 auto;
  align-items: center;
}

.landing-heading__content .logo {
  margin: 0 0 -2rem;
  flex-grow: 1;
}

.landing-heading__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-heading__buttons .hypercore-button {
  /* width: 100%; */
}

.landing-heading__buttons .icon-button {
  margin-right: 1.5rem;
}

/* Mainstage Styles */

.mainstage {
  background-image: url('http://52.73.242.68/~servicewizards/wp-content/uploads/aido-service-wizards-in-residential-neighborhood.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  /* padding: 2rem 2rem 0; */
  height: 675px;
}

.mainstage::before {
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: -1;
}

.mainstage__content {
  position: relative;
  text-align: center;
  width: 100%;
  /* margin-left: 2vw; */
  max-width: calc(1200px + 4rem);
  margin: 0 auto;
}

.mainstage__content--text {
  height: 100%;
  padding-top: 8rem;
}

.mainstage__content--text span {
  display: block;
}

.mainstage__content--text span {
  padding: 0;
  max-width: 470px;
  text-align: left;
}

.purple-text {
  color: var(--color-purple);
  font-size: 6rem;
  font-weight: 700;
}

.grey-text {
  color: var(--color-grey-dark);
  font-size: 4rem;
  font-weight: 700;
}

/* Form Section */

.form::before {
  content: url(http://52.73.242.68/~servicewizards/wp-content/uploads/featured-water-heaters-isolated.png);
  position: absolute;
  transform: translate(-18.5rem, -63rem);
  right: 15vw;
  z-index: 999;
}

.pre-form {
  background: var(--color-purple);
  padding: 4em 3rem;
  display: flex;
  align-items: center;
}

.pre-form__content {
  max-width: calc(1200px + 4rem);
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.pre-form__title {
  color: var(--color-white);
  font-size: 60px;
  font-weight: 700;
  max-width: 480px;
  display: block;
}

.mobile {
  display: none;
}

.form-container {
  background-color: var(--color-white-secondary);
  padding: 4rem 2rem;
}

.form-container {
  position: absolute;
  right: 17vw;
  transform: translate(0, -35rem);
  z-index: 999;
  border-radius: 1rem;
  width: 575px;
  text-align: center;
}

.form-container .gform_title,
.purple-text {
  color: var(--color-purple);
  font-size: 60px;
}

/* Brand Section */

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem 4rem;
  transition: 0.25s;
}

.brand__content::before {
  content: url(http://52.73.242.68/~servicewizards/wp-content/uploads/service-wizards.svg);
  position: absolute;
  z-index: -1;
  opacity: 0.05;
  transform: translate(-10rem, -5rem);
  transition: 0.25s;
}

.brand__content {
  padding: 10rem 2rem 4rem;
}

/* Reviews Section */

.reviews {
  background-color: var(--color-purple);
  min-height: 45rem;
  padding: 5rem 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CTA Section */

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  background-color: var(--color-white-secondary);
  box-shadow: var(--shadow);
}

.cta .purple-text,
.grey-text {
  font-size: 4.25rem;
  font-weight: 700;
}

.cta__content--btns {
  padding: 1.5rem 0;
  display: flex;
}

.cta__content--btns .icon-button {
  margin-right: 1.5rem;
}

/* WCU Section */

.wcu {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.wcu .purple-text {
  font-size: 3em;
  margin-bottom: 2rem;
}

.wcu__content {
  padding: 2rem;
}

.wcu__content--award {
  text-align: right;
}

.wcu__content--list ul {
  display: grid;
  row-gap: 1rem;
  padding: 0;
}

.wcu__content--list li {
  display: flex;
}

.wcu__content--list li::before {
  content: url(http://52.73.242.68/~servicewizards/wp-content/uploads/check-in-circle-green42A853.svg);
  padding-right: 2rem;
}

.wcu__content--list li span {
  font-size: 1.5rem;
}

.wcu__content--list .hypercore-button {
  display: inline-block;
}
